@import '../../../scss/colors.scss';

nav {
  background-color: white;
  height: 100px;
  line-height: 100px;
  box-shadow: 0px 0px 1px 0px $black;
  margin-bottom: 60px;
}

nav ul a {
  font-size: 1rem;
  color: $black;
  padding: 0 40px;
  font-weight: 600;
}

nav ul a span {
  color: white;
}

nav ul a:hover {
  background-color: none;
  color: $blue;
}

.brand-logo {
  vertical-align: middle;
  padding: 15px 10px 10px 25px;
}

nav .sidenav-trigger {
  padding: 15px 0 0 0;
}

.icon-black {
  color: $black
}

#special {
  background: linear-gradient(
    110deg,
    white 0,
    white 20%,
    $blue 20%,
    $blue 80%,
    white 80%
  );
}


