@import '../../../scss/colors.scss';

.sidenav-title {
  background-color: #E4E2E3;
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #E4E2E3;
  margin-left: 80%
}

.container {
  width: 95%;
}
 ul.modified> li::before {
  content: "\2022";
  color: $blue;
  font-weight: bold;
  margin-right: 5px;
  width: 1em;
  margin-left: 1em;
  font-size: 20px;
}

.btn-floating{
  position: fixed;
  left: -26px;
  z-index: 9999;
  top: 50%;
}
