<div class="container"
*ngIf="currentWindowWidth >= 600">
  <div class="sidenav-title">SUBNAV</div>
  <div class="arrow-down"></div>
  <ul class="modified">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
  <div class="sidenav-title">RELATED LINKS</div>
  <div class="arrow-down"></div>
  <ul class="modified">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</div>


<ul id="slide-out" class="sidenav">
  <div class="container">
    <div class="section">
      <div class="sidenav-title">SUBNAV</div>
      <div class="arrow-down"></div>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
      <div class="sidenav-title">RELATED LINKS</div>
      <div class="arrow-down"></div>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
</ul>
<a href="#" data-target="slide-out" class="btn-floating btn-medium blue sidenav-trigger"
  *ngIf="currentWindowWidth <= 601">
</a>

