<section class="content">
  <h4> {{ data?.content?.heading }} </h4>
  <h6>{{ data?.content?.subHeading }}</h6>

  <div class="paragraph"
  *ngFor="let paragraphList of data.content.paragraphs">
  <p>{{ paragraphList }}</p>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="container">
        <img [src]=" images?.man?.path" alt="Avatar" class="responsive-img">
          <div class="text">
            <h6>{{ images?.man?.heading }}</h6>
            <p>{{ images?.man?.description }}</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="container">
        <img [src]=" images?.wizard?.path" alt="Avatar" class="responsive-img">
          <div class="text">
            <h6>{{ images?.wizard?.heading }}</h6>
            <p>{{ images?.wizard?.description }}</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="container">
        <img [src]=" images?.beast?.path" alt="Avatar" class="responsive-img">
          <div class="text">
            <h6>{{ images?.beast?.heading }}</h6>
            <p>{{ images?.beast?.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
