@import '../../scss/colors.scss';

.responsive-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  background-color: $blue;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $blue;
}

.container:hover .overlay {
  opacity: 0.5;
}

