@import '../../scss/colors.scss';

.responsive-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  background-color: $blue;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $blue;
}

.container:hover .text {
  opacity: 1;
  background-color: #00a7e094;
}

.text> h6 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.text> p {
  color: white;
  font-weight: 300;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
}


