@import '../../scss/colors.scss';

.responsive-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  background-color: $blue;
  display: block;
  width: 100%;
}

.text> h6 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
.text> p {
  color: white;
  font-weight: 300;
  margin: 0;
}

.img-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0ca1d394;
}

.img-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .col.s12 {
    margin-bottom: 20px;
  }
}
