@import '../src/app/scss/colors.scss';


.content h4 {
  font-weight: 500;
  color: $blue;
  margin: 0;
}

.content h6 {
  font-weight: 500;
  margin-left: 10px;
  margin-top: 0px;
  font-style: italic;
}

.no-margin {
  margin: 0;
}
